html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

main {
  height: 70%;
  left: 5%;
  position: absolute;
  top: 15%;
  width: 90%;
  z-index: 100;
}

header {
  height: 50px;
  left: 35%;
  margin-top: 2.0rem;
  position: absolute;
  text-align: center;
  width: 30%;
  z-index: 10;
}

#left-section {
  padding-left: 5%;
  padding-top: 3%;
}

#right-section {
  padding: 3% 5%;
}

#previous {
  position: absolute;
  left: 3%;
}

#next {
  position: absolute;
  right: 3%;
}

.background-positioning {
  float: left;
  height: 100%;
  width: 50%;
}

.dark-gray {
  background-color: #a8a7a8;
}

.almost-white {
  background-color: #fdfdfd;
}

.pink-salmon {
  background-color: #edded5;
}

.links a {
  border-bottom: 1px solid #a8a7a8;
  color: #a8a7a8;
  margin: 0 0.5rem;
}

.links span {
  color: #a8a7a8;
  letter-spacing: -2px;
  width: 100px;
}

.model-img {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
}
