html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

main {
  height: 70%;
  left: 5%;
  position: absolute;
  top: 15%;
  width: 90%;
  z-index: 100;
}

header {
  height: 50px;
  left: 35%;
  margin-top: 2.0rem;
  position: absolute;
  text-align: center;
  width: 30%;
  z-index: 10;
}

.background-positioning {
  float: left;
  height: 100%;
  width: 50%;
}

.dark-gray {
  background-color: #a8a7a8;
}

.almost-white {
  background-color: #fdfdfd;
}

.pink-salmon {
  background-color: #edded5;
}
