html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

#left-background, #right-background {
  float: left;
  height: 100%;
  width: 50%;
}

#left-background {
  background-color: #cececf;
  /*background-color: #a8a7a8;*/
}

#right-background {
  /*background-color: #fdfdfd;*/
}
